body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.form-group .error {
  border-color: #B94A48;
  color: #B94A48;
}

.panel-default > .panel-heading {
    background-color:rgba(180, 180, 180, 0.50);
    border-color: ActiveBorder;
    color: #333;
}

.tab-content .panel{
    background-color:rgba(180, 180, 180, 0.30);    
}

.tab-pane {
    margin-top:20px;
}

.modal-body ul {
    list-style:none;
} 

.modal-body ul li {
    margin-bottom:10px;
} 