@{
    
    //SABIO: You should never use view bag. it is the junk drawer of the MVC application
    /*  The purpose of implementing a design pattern is to plan out what data we would be passing arround
     * to use the ViewBag is to basically throw out the design pattern.
     * the only reason this would happen is because you are being lazy.
     * 
     * 
     * */


    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="row">
    <p>This page acceppts no params for a GET</p>


</div>

