/****** Object:  Table [dbo].[TestTableOne]    Script Date: 1/23/2015 12:26:28 AM ******/

/****** Object:  Table [dbo].[TestTableOne]    Script Date: 1/23/2015 12:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TestTableOne](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[Skills] [nvarchar](50) NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_TestTableOne] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TestTableOne] ON 

GO
INSERT [dbo].[TestTableOne] ([Id], [UId], [FirstName], [LastName], [Email], [Phone], [Date], [Skills], [Age]) VALUES (1, N'01e07596-4eb3-4760-971e-0005327f4d50', N'David', N'C', N'David.Robinson@test.com', NULL, NULL, NULL, 25)
GO
INSERT [dbo].[TestTableOne] ([Id], [UId], [FirstName], [LastName], [Email], [Phone], [Date], [Skills], [Age]) VALUES (2, N'7820b140-250f-47ed-8366-000928544d8f', N'Randy', N'R', N'Randy.Ma@test.com', NULL, NULL, NULL, 25)
GO
INSERT [dbo].[TestTableOne] ([Id], [UId], [FirstName], [LastName], [Email], [Phone], [Date], [Skills], [Age]) VALUES (3, N'177dba81-562f-404b-8368-000be01b80fc', N'Michele', N'F', N'Michele.Hernandez@test.com', NULL, NULL, NULL, 25)
GO
SET IDENTITY_INSERT [dbo].[TestTableOne] OFF
GO
